@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

.home {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.active {
    color: rgb(125, 125, 216);
}
.head-text{
    font-size: 6rem;
}
.head-texte{
    font-size: 5rem;
}
.bg{
    background-color:  #121212;
}
.img{
    width: 45%;
}
.clean{
    right: -800px;
}
.appear{
    right: 0;
}
.bar{
    display: none;
}

@media (max-width:799px) {
    .bar{
        display: block;
    }
    .menu{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;
        position: fixed;
        top: -40px;
        height: 120vh;
        width: 270px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0);
        padding: 80px 0 0 10px;
        transition: 0.3s;
        z-index: 2;
        /* display: none; */
    }
    .menu a{
        color: black;
        transition: 0.5s;
    }
    .menu a:hover{
        color: rgb(75, 75, 75)
    }
    .overlay{
        height: 110vh;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        background-color: rgb(0, 0, 0, 0.8);
        position: fixed;
        transition: 0.5s;
      }
      .overlay button{
        margin-left: 50vw;
        padding: 20px;
        background-color: black;
        color: #edf2f7;
        border: none;
        font-size: 20px;
      }
}

@tailwind base;

@tailwind components;

@tailwind utilities;

